<!-- ion-header es la cabecera-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>Nueva lista</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-list-header>Tareas por hacer:</ion-list-header>

        <ion-item>
            <ion-label floating>Nuevo Item</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

    </ion-list>


    <ion-list>
        <button ion-item detail-none>
            <!-- Documentación IONI ICON-->
            <ion-icon name="square-outline" item-start></ion-icon>
            Hola!
        </button>

    </ion-list>



</ion-content>