<!-- ion-header es la cabecera-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title> {{ lista.titulo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-list-header>Tareas por hacer:</ion-list-header>

        <!-- Se utiliza el ngFor para mostrar todos los items de la lista-->
        <ion-item>
            <ion-label floating>Nuevo Item</ion-label>
            <!-- Con el ngModel se recoge los datos del input se le da ese valor a la propiedad nombreItem de la clase-->
            <ion-input [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()" type="text"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="lista.items.length > 0">

        <ion-list-header>
            Tareas por hacer
        </ion-list-header>


        <button ion-item detail-none class="animated fadeInDown" *ngFor="let item of lista.items" (click)="actualizarEstado(item)">
            <!-- Documentación IONI ICON-->
            <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start></ion-icon>
            <ion-icon *ngIf="!item.completado" name="square-outline" item-start></ion-icon>
            {{ item.descripcion }}
        </button>

    </ion-list>

</ion-content>