<!-- ion-header es la cabecera-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title> {{ lista.titulo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-list-header>Tareas por hacer:</ion-list-header>

        <!-- Se utiliza el ngFor para mostrar todos los items de la lista-->
        <ion-item>
            <ion-label floating>Nuevo Item</ion-label>
            <!-- Con el ngModel se recoge los datos del input se le da ese valor a la propiedad nombreItem de la clase-->
            <ion-input [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()" type="text"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="lista.items.length > 0">

        <ion-list-header>
            Tareas por hacer
        </ion-list-header>

        <!-- Se utiliza ion-item-sliding para poder desplazar el item hace un lado y que salgan más opciones-->
        <ion-item-sliding *ngFor="let item of lista.items; let i = index" class="animated fadeInDown">

            <button ion-item detail-none (click)="actualizarEstado(item)">
                <!-- Documentación IONI ICON-->
                <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start></ion-icon>
                <ion-icon *ngIf="!item.completado" name="square-outline" item-start></ion-icon>
                {{ item.descripcion }}
            </button>

            <!-- En side se puede poner right o left en función del diseño q se quiera-->
            <ion-item-options side="right">
                <button ion-button icon-only color="danger" (click)="borrarTarea(i)">
                        <ion-icon name="close"></ion-icon>
                </button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

</ion-content>