<!-- ion-header es la cabecera-->
<ion-header>
    <ion-navbar color="primary">
        <!-- color= primary es de ionic -->
        <ion-title>Tareas Pendientes</ion-title>
    </ion-navbar>
</ion-header>

<!-- ion-content es el contenido de la página-->
<ion-content>
    <img src="../../assets/imgs/pendientes.jpg" alt="Pendientes">

    <!-- Componente Lista de ionic-->
    <ion-list>

        <ion-item-sliding *ngFor="let lista of tareasService.listas">
            <button ion-item (click)="listaSeleccionada(lista)">
              {{ lista.titulo }}
              
              <!-- Para colocar una pequeña nota al final del elemento-->
              <ion-note item-end>
                  {{ lista.items.length }} items
              </ion-note>
            </button>

            <ion-item-options side="left">
                <button (click)="borrarLista(lista)" ion-button icon-only color="danger">
                        <ion-icon name="close"></ion-icon>
                </button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

    <!-- Componente botón de ionic-->
    <!-- Se pueden poner las coordenadas donde se localizará el FAB-->
    <ion-fab bottom right>

        <button (click)="agregarLista()" ion-fab>
            <ion-icon name="add"></ion-icon>
        </button>

    </ion-fab>

</ion-content>