<!-- ion-header es la cabecera-->
<ion-header>
    <ion-navbar color="primary">
        <!-- color= primary es de ionic -->
        <ion-title>Tareas Pendientes</ion-title>
    </ion-navbar>
</ion-header>

<!-- ion-content es el contenido de la página-->
<ion-content>
    <img src="../../assets/imgs/pendientes.jpg" alt="Pendientes">
    <ion-list>
        <button ion-item *ngFor="let lista of tareasService.listas" (click)="listaSeleccionada(lista)">
          {{ lista.titulo }}
        </button>
    </ion-list>

</ion-content>