<!-- ion-header es la cabecera-->
<ion-header>
    <ion-navbar color="primary">
        <!-- color= primary es de ionic -->
        <ion-title>Tareas Completadas</ion-title>
    </ion-navbar>
</ion-header>

<!-- ion-content es el contenido de la página-->
<ion-content>
    <img src="../../assets/imgs/completados.jpg" alt="Completados">

    <!-- Se utiliza el componente listas y se envía el valor de la propiedad "completada" al componente hijo listas-->
    <app-listas [completada]="true"></app-listas>

</ion-content>