<!-- ion-header es la cabecera-->
<ion-header>
    <ion-navbar color="primary">
        <!-- color= primary es de ionic -->
        <ion-title>Tareas Completadas</ion-title>
    </ion-navbar>
</ion-header>

<!-- ion-content es el contenido de la página-->
<ion-content>
    <img src="../../assets/imgs/completados.jpg" alt="Completados">
    <ion-list>
        <button ion-item *ngFor="let lista of tareasService.listas" (click)="listaSeleccionada(lista)">
              {{ lista.titulo }}
            </button>
    </ion-list>

</ion-content>